@model IEnumerable<Ictshop.Areas.ViewModel.QuanlybannuochoaVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style=" padding: 30px; color: #f542c2; font-weight: bold;">QUẢN LÝ BÁN HÀNG</h2>

<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Madon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngaydat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tinhtrang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaNguoidung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nguoidung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dienthoai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Madon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaydat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tinhtrang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaNguoidung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nguoidung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dienthoai)
        </td>
        <td>
            <button id="bgnGioHang">
                @Html.ActionLink("Chi tiết", "Details", new { id = item.Madon }, new { @style = "color:white;" })
            </button>
            
        </td>
    </tr>
}

</table>
