
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="~/Content/Image/perfume.png">

    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>PERFUME-Admin</title>
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/Areas/Assets/dist/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>

    <style type="text/css">
        .menu1 {
            color: white;
            padding-left: 20px;
        }

        .color-header {
            background-color: #f542c2;
        }

        #bgnGioHang {
            width: 100px;
            height: 40px;
            color: white;
            border: 0px solid;
            border-radius: 5px;
            background-color: #f542c2;
        }

            #bgnGioHang:hover {
                background-color: #d61cb1;
            }

            #bgnGioHang:active {
                background-color: #f542c2;
            }
    </style>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark color-header">
        <h3>@Html.ActionLink("PERFUME", "Index", "Home", new {@class="menu1" })</h3>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button><!-- Navbar Search-->
         <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">                         
                    @Html.TextBox("SearchString", "", new { @class = "form-control" })
                    <input class="btn btn-primary" type="submit" value="Search"> 
        </div>
        </form>
        
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    
                    &nbsp;
                    @*@Html.ActionLink("ĐĂNG XUẤT", "DangXuat", "User", new { style = "color:red" })*@
                    <a style="color: #f542c2" href="/User/DangXuat"> ĐĂNG XUẤT</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion" >
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading" style="color: #f542c2"> <h5>Quản lý</h5></div>
                        <div style="padding-left:20px">
                            @Html.ActionLink("Sản phẩm", "Index", "Home")
                        </div>

                        <br />
                        <div style="padding-left:20px">
                            @Html.ActionLink("Quản Lý Bán Hàng", "Index", "QLDonHang")
                        </div>
                        <br />
                        <div style="padding-left:20px">
                            @Html.ActionLink("Hãng sản xuất", "Index", "Hangsanxuats")
                        </div>
                        <br />

                        <div style="padding-left:20px">
                            @Html.ActionLink("Người dùng", "Index", "Nguoidungs")
                        </div>
                        <br />
                        @* <div style="padding-left:20px">
            @Html.ActionLink("Phân quyền", "Index", "Phanquyens")
        </div>*@

                        @*<a class="nav-link" href="Home">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            Hãng sản xuất
        </a>*@
                    </div>                       
                </div>

            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Ngo Tri Truong 2022</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Areas/Assets/dist/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/Areas/Assets/dist/assets/demo/chart-area-demo.js"></script>
    <script src="~/Areas/Assets/dist/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="~/Areas/Assets/dist/assets/demo/datatables-demo.js"></script>
</body>
</html>
